.modal {
    background-color: rgba(57, 30, 30, 0.8);
    backdrop-filter: blur(7px);
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.modal-content {
    background-color: #f0f0f0;
    width: 320px;
    padding: 10px 20px;
    height: 55vh;
    margin: 10vh auto;
    position: relative;
}

.btn-close-modal {
    position: absolute;
    top: 10;
    border: none;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
}

.btn-close-modal:hover {
    color: rgb(252, 18, 205);
}